<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>请假管理</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style type="text/css">
        .table-responsive1 {
            display: block;
            width: 100%;
            height: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }

        .table-responsive1 > .table-bordered {
            border: 0
        }
        .col-md-6-2 {
            position: relative;
            width: 50%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px
        }

        .col-md-6-2 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 50%
        }
        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: 15px;
            margin-left: 15px
        }

    </style>
</head>
<body>
<input type="hidden" id="userId" name="userId" th:value="${userId}"/>
<div class="card">
    <div class="card-header bg-light">
        员工请假审核列表
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="form-group">
                <h4 style="font-weight: bold">所属部门:<span style="padding-left: 8px" id="departmentName"></span></h4>
<!--                <input id="userId" name="userId" class="form-control" placeholder="输入工号查询">-->
<!--                <input  name="userId" class="form-control" placeholder="输入工号查询">-->
            </div>
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--&lt;!&ndash;                <input id="deleteDesc" name="deleteDesc" class="form-control" placeholder="输入扣绩效原因(模糊)查询">&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-rounded btn-primary" id="search_reward">搜索</button>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table_add">
                <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>所属部门</th>
                    <th>请假时间</th>
                    <th>请假原因</th>
                    <th>请假时长</th>
                    <th>审批状态</th>
                    <th>审批操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <button type="button" class="btn btn-secondary btn-sm add">首页</button>
            <button type="button" class="btn btn-secondary btn-sm add">上一页</button>
            <button type="button" class="btn btn-secondary btn-sm add">下一页</button>
            <button type="button" class="btn btn-secondary btn-sm add">尾页</button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="table_addtwo">
                <thead>
                <tr>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>所属部门</th>
                    <th>请假时间</th>
                    <th>请假原因</th>
                    <th>请假时长</th>
                    <th>审批状态</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <button type="button" class="btn btn-secondary btn-sm addtwo">首页</button>
            <button type="button" class="btn btn-secondary btn-sm addtwo">上一页</button>
            <button type="button" class="btn btn-secondary btn-sm addtwo">下一页</button>
            <button type="button" class="btn btn-secondary btn-sm addtwo">尾页</button>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<!--<srcipt src="/js/hr/all_qingjia.js"></srcipt>-->
<script>
    var qj_pageNum = 1, pageSize = 4, qj_pages = 0;
    var qj_pageNumtwo = 1, pageSize = 4, qj_pagestwo = 0;
    var userId = $("#userId").val();
    $(document).ready(function () {
        init();
    });

    /**
     * 初始化函数
     */
    function init() {
        addPoint();
        addPointtwo();
    }
    function addPoint() {
        $.ajax({
            url: "/hr/getWaitEmployeeLeaveByDepartment",     //后台请求的数据
            data: {
                "pageSize": pageSize,
                "pageNum": qj_pageNum,
                "userId": userId,
            },
            type: "post",                  //请求方式
            async: true,                   //是否异步请求
            success: function (data) {
                //如果请求成功，返回数据。

                $("#table_add tbody").html("");
                qj_pages = data.pages;
                var list_ = data.list;
                for (var i = 1; i < list_.length + 1; i++) {
                    var content = list_[i - 1];
                    var gb = content.permissionDegree;
                    if(gb==3){
                        gb="是";
                    }else{
                        gb="否";
                    }
                    var departmentId ='';
                    if( content.departmentId =='gdufe01'){
                        departmentId='开发部'
                    }else if(content.departmentId=='gdufe02'){
                        departmentId='运营部'
                    }else if(content.departmentId=='gdufe03'){
                        departmentId='人事部'
                    }else if(content.departmentId=='gdufe04'){
                        departmentId='市场部'
                    }else{
                        departmentId='财务部'
                    }
                    $('#departmentName').html(departmentId)
                    var status = content.status==0?'未审核':content.status==1?'已通过':'未通过';
                    var leaveid=content.id;
                    var trHTML = "<tr>"
                        + "<td>" + content.jobNumber + "</td>"
                        + "<td>" + content.userName + "</td>"
                        + "<td>" + departmentId + "</td>"
                        + "<td>" + content.leaveTime + "</td>"
                        + "<td>" + content.leaveReason + "</td>"
                        + "<td>" + content.leaveDuration + "</td>"
                        + "<td>" + status+"</td>"
                        + "<td>" + "<button type=\"button\" class=\"btn btn-success\" onclick='pass("+leaveid+")'>通过</button>"+ "<button style='margin-left: 10px' type=\"button\" class=\"btn btn-danger\" onclick='nopass("+leaveid+")'>打回</button>"+"</td>"
                        /* + "<td>" + gb + "</td>"*/
                        + "</tr>";
                    $("#table_add tbody").append(trHTML);//在table最后面添加一行
                }

            },
        });
    };
    //展示所有请假信息
    function addPointtwo() {
        $.ajax({
            url: "/hr/getEmployeeLeaveByDepartment",     //后台请求的数据
            data: {
                "pageSize": pageSize,
                "pageNum": qj_pageNumtwo,
                "userId": userId,
            },
            type: "post",                  //请求方式
            async: true,                   //是否异步请求
            success: function (data) {
                //如果请求成功，返回数据。
                $("#table_addtwo tbody").html("");
                qj_pagestwo = data.pages;
                var list_ = data.list;
                for (var i = 1; i < list_.length + 1; i++) {
                    var content = list_[i - 1];
                    var gb = content.permissionDegree;
                    if(gb==3){
                        gb="是";
                    }else{
                        gb="否";
                    }
                    var departmentId ='';
                    if( content.departmentId =='gdufe01'){
                        departmentId='开发部'
                    }else if(content.departmentId=='gdufe02'){
                        departmentId='运营部'
                    }else if(content.departmentId=='gdufe03'){
                        departmentId='人事部'
                    }else if(content.departmentId=='gdufe04'){
                        departmentId='市场部'
                    }else{
                        departmentId='财务部'
                    }
                    var status = content.status==0?'未审核':content.status==1?'已通过':'未通过';
                    var leaveid=content.id;
                    var trHTML = "<tr>"
                        + "<td>" + content.jobNumber + "</td>"
                        + "<td>" + content.userName + "</td>"
                        + "<td>" + departmentId + "</td>"
                        + "<td>" + content.leaveTime + "</td>"
                        + "<td>" + content.leaveReason + "</td>"
                        + "<td>" + content.leaveDuration + "</td>"
                        + "<td>" + status+"</td>"
                        /* + "<td>" + gb + "</td>"*/
                        + "</tr>";
                    $("#table_addtwo tbody").append(trHTML);//在table最后面添加一行
                }

            },
        });
    }
    function pass(leaveid){
        $.ajax({
            url: "/employee/updateLeaveStatus",     //后台请求的数据
            data: {
                "id": leaveid,
                "status": 1
            },
            type: "post",                  //请求方式
            async: true,                   //是否异步请求
            success: function (data) {
                alert("审核成功!");
                addPoint();
                addPointtwo();
            },
            error:function () {
                alert("审核失败！");
                addPoint();
                addPointtwo();
            }


        });
    }
    function nopass(leaveid){
        $.ajax({
            url: "/employee/updateLeaveStatus",     //后台请求的数据
            data: {
                "id": leaveid,
                "status": 2
            },
            type: "post",                  //请求方式
            async: true,                   //是否异步请求
            success: function (data) {
                alert("审核成功!");
                addPoint();
                addPointtwo();
            },
            error:function () {
                alert("审核失败！");
                addPoint();
                addPointtwo();
            }


        });
    }
    /**
     * 翻页
     */
    $(".add").click(function () {
        var data = $(this).html();
        switch (data) {
            case "首页":
                if (qj_pageNum == 1) {
                    break;
                }
                qj_pageNum = 1;
                addPoint();
                break;
            case "上一页":
                if (qj_pageNum == 1) {
                    break;
                }
                qj_pageNum--;
                addPoint();
                break;
            case "下一页":
                if (qj_pageNum == qj_pages) {
                    break;
                }
                qj_pageNum++;
                addPoint();
                break;
            case "尾页":
                if (qj_pageNum == qj_pages) {
                    break;
                }
                qj_pageNum = qj_pages;
                addPoint();
                break;
        }
    });

    /**
     * 翻页
     */
    $(".addtwo").click(function () {
        var data = $(this).html();
        switch (data) {
            case "首页":
                if (qj_pageNumtwo == 1) {
                    break;
                }
                qj_pageNumtwo = 1;
                addPointtwo();
                break;
            case "上一页":
                if (qj_pageNumtwo == 1) {
                    break;
                }
                qj_pageNumtwo--;
                addPointtwo();
                break;
            case "下一页":
                if (qj_pageNumtwo == qj_pagestwo) {
                    break;
                }
                qj_pageNumtwo++;
                addPointtwo();
                break;
            case "尾页":
                if (qj_pageNumtwo == qj_pagestwo) {
                    break;
                }
                qj_pageNumtwo = qj_pagestwo;
                addPointtwo();
                break;
        }
    });

    $("#search_reward").click(function () {
        addPoint();
        addPointtwo();
    });
</script>
</body>
</html>
